/* font import */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    
}

/*---------------- 
common css  
-------------------*/
.container{
    width: 90%;
    margin: 0 auto;
}
a{
    color: #ffff;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
   
}

a:hover.button-style{
    background-color: #DB6B97;
}

.button-style{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 20px;
    margin-top: 20px;
    display: inline-block;
}
.button-style i{
    margin-left: 10px;
     font-weight: 0;
     
 }

 .margin-y{
    margin: 60px 0;
 }


/*---------------------------------
 header area style start here
---------------------------------- */
.main-header{
    display: flex;
    justify-content: space-between;
    
}
.logo h2{
    font-size: 24px;
    color:#3A3A3A;
    
}
.menu-bar ul{
    list-style: none;
    display: flex;
    
}
.menu-bar ul li{
    margin-right: 35px;
}

.menu-bar ul li a {
    color: #3A3A3A;
    font-size: 16px;
   
}

/* -------------------------------
banner-section css strat here 
---------------------------------- */

.top-section{
    display: flex;
    justify-content: space-between;
}
.banner-item{
    width: 582px;
}
.banner-item h2{
    color: #3A3A3A;
    font-size: 52px;
    margin-bottom: 0;
    
}
.banner-item p{
    font-size: 16px;
    color: #3A3A3A;
    font-weight: 600;
    padding-right: 20px;
}

.banner-bg{
    display: flex;
    justify-content: center;
    position: relative;
    
}

.banner-image{
    position: absolute;
    top: 72px;
    right: 74px;
}
.banner-image img{
    width: 90%;
    transition: transform 1s;
    
}
.banner-image:hover img{
    transform: scale(1.2);
}

/*----------------------------------
 company brand style start here 
------------------------------------ */
.company-brand{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 0;
    border: 2px solid;
    border-image: linear-gradient(rgba(221, 228, 235),rgba(221, 228, 235, 60%));
    border-image-slice: 1 0 5;
   
}
/*----------------------------------
 collection style start here 
------------------------------------ */

.collection-title h2{
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;

}

.collections{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    
    
}
.collection-item{
    box-shadow: 2px 2px 15px 5px rgb(170 226 255);
    border-radius: 5px;
}

.collection-image{
    padding:17px 14px;
    
}
.collection-image img{
    width: 100%;    
  
}
.collection-details{
    padding:0 17px 15px;
}
.collection-details h2{
    margin: 0;
    color: #18191F;
    font-size: 28px;
}

.collection-details h5,p{
    margin: 6px 0;
    
}

.rating i{
    color: #FB8200;
    font-size: 10px;
}
.rating span{
    font-size: 14px;
    margin-left: 10px;
    color: #5E6366;
}
.collection-details h5{
    color: #222222;
    font-size: 24px;
    font-weight: normal;
}

.collection-details p{
    font-size: 14px;
    color: #898994;
    margin: 3px 0;
}
.collections-button{
    width: 85%;
    margin: 50px auto;
    background-color: #fff;
    text-align: right;
}
.collections-button a{
    color: #E02C6D;
    
}
/*----------------------------------
 collection style end here 
------------------------------------ */

/*----------------------------------
 campping style start here 
------------------------------------ */
.campping-title h2{
    margin-bottom: 50px;
    
}
.camppings{
    margin-top: 300px;
    display: flex;
    width: 85%;
    margin: 0 auto;

}
.campping-image img{
    width: 100%;
    border-radius: 10px;
}
.campping-text{
    padding:20px ;
}
.campping-text h3{
 
    color: #3A3A3A;
    font-size: 23px;
    font-weight: 600;
}
.campping-text p{
    font-size: 16px;
    color: #3A3A3A;
    
    padding-right: 20px;
}


/*----------------------------------
 footer style start here 
------------------------------------ */
.footer-area{
    margin-top: 30px;
    background-color: #0A0826;
    text-align: center;
}
.footer-area{
    padding: 50px;
}
.footer-title h2{
    color: #fff;
    font-size: 24px;
}
.footer-title p{
    color: #D9DBE1;
    font-size: 14px;
}
.footer-icon i{
    margin-top: 12px;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 100%;
    padding: 8px;
    color: #fff;
    background-color: #22203B;
}



/*----------------------
 media query css start here 
 ------------------------- */




 /* responsive mobile  */
 @media only screen and (max-width: 576px) {
     /* header mobile menu  */

     .main-header{
         align-items: center;
         
     }
     .margin-y{
         margin: 35px 0;
     }
    .mobile-menu i{
        color: #1B1B1B;
        font-size: 24px;
    }
    .menu-bar {
      display: none;
    }
    .mobile-cart li{
        list-style: none;
    }
    .mobile-cart li a i{
        color: #000000;
        font-size: 26px;
    }
   
    /* top section mobile menu  */
    .top-section{
        flex-direction: column;
        
    }
    .banner-item{
        width: 100%;
    }
    #banner-details{
        order: 2;
    }
    #banner-image{
        order: 1;
    }
    #banner-details h2{
        font-size: 28px;
    }
    .banner-image img{
        width: 100%;
        
    }
    .banner-bg img{
        width: 100%;
        padding: 25px;
    }
    .banner-item{
        text-align: center;
    }

    /* company brand section  */

    .company-brand{
        flex-wrap: wrap;
        justify-content: center;
    }
    .brand-logo{
        margin-top: 15px;
        margin-right: 10px;
    }
    .brand-logo img{
        width: 60%;
    }


    /* collection area mobile style start here  */

    .collections{
        grid-template-columns: repeat(1,1fr);
    }
    .camppings{
        margin-top: 300px;
        display: block;
        width: 85%;
        margin: 0 auto;
    
    }
    
  }





  /* responsive tablet  */

  @media only screen and (min-width: 576px) and (max-width: 769px)  {
      /* top menu section  */
   .mobile-cart,.mobile-menu{
       display: none;
   }

.logo h2{
    font-size: 15px;
    color:#3A3A3A;
    font-weight: bolder;
    
}
/* .menu-bar ul{
    list-style: none;
    display: flex;
    
} */
.menu-bar ul li{
    margin-right: 15px;
}

.menu-bar ul li a {
    color: #3A3A3A;
    font-size: 12px;
   
}
    .margin-y{
        margin: 25px 0;
    }




     /* top section tablet menu  */
     .top-section{
        flex-direction: column;
        
    }
    .banner-item{
        width: 100%;
    }
    #banner-details{
        order: 2;
    }
    #banner-image{
        order: 1;
    }
    #banner-details h2{
        font-size: 28px;
    }
    .banner-image img{
        width: 100%;
        
    }
    .banner-bg img{
        width: 100%;
        padding: 25px;
    }
    .banner-item{
        text-align: center;
    }

  /* company brand section  */

  .company-brand{
    flex-wrap: wrap;
    justify-content: center;
}
.brand-logo{
    margin-top: 15px;
    margin-right: 10px;
}
.brand-logo img{
    width: 60%;
}


 /* collection area tablet style start here  */

 .collections{
    grid-template-columns: repeat(2,1fr);
    
}
.camppings{
    margin-top: 300px;
    display: block;
    width: 85%;
    margin: 0 auto;

}

    }



    /* ------------------------
    laptop or computer dicice 
    -----------------------------*/

    @media only screen and (min-width: 769px) and (max-width: 1400px)  {
        .mobile-cart,.mobile-menu{
            display: none;
        }
    }
